.tour-cities-content{
  background-color: rgba(255,255,255,.8) !important;
  z-index: 1239;
}

.tabs{
  background-color: white !important;
}

.tour-cities-browse-icons{
  width: 2rem;
  filter: invert(80%);
}

.tour-cities-image{
  background-position: 80% 20% !important;
}