/*#18a2b7*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
  .slider-header-image{
    height: 70vh !important;
    /*background-position: center center !important;*/
  }

  .navbar-main{
    padding: 10px 10px !important;
  }
}

@media only screen and (min-width: 600px) {
  .slider-header-image{
    height: 100vh !important;
    /*background-position: center center !important;*/
  }
}

.menu-logo{
  width: 70%;
}

.navbar-main{
  /*box-shadow: inset 0px 55px 34px -20px rgba(0,0,0,0.7);*/
  padding: 30px 60px;
}

.nav-link{
  color: white !important;
  margin-left: 15px;
  font-size: 1.3em;
  font-weight: 400;
}

.top-bar{
  color: white;
}

.slider-header-container{
  overflow: hidden;
}

.slider-header-image{
  background: url(https://wallpaperplay.com/walls/full/0/8/9/203246.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  animation-name: zoom-out;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.slider-header-image:before{
  content: "";
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.58), transparent);
}

@keyframes zoom-out {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

.toggle-menu-item{
  width: 20vw;
}

.progress-slider-container{
  position: absolute;
  z-index: 3000;
  bottom: 5vh;
}


.progress-slider{
  padding-top: 10px;
  width: 17px !important;
}

.cursor-pointer{
  cursor: pointer;
}

.opacity-hover:hover{
  opacity: 0.75 !important;
}

.slider-container{
  z-index: 1000;
  position: absolute;
  top: 30vh;
  left: 31vw;
}

.slider-trip-subtitle{
  color: #fff;
  font-size: 4.0em;
  white-space: nowrap;
  font-weight: 300;
  line-height: 110%;
  animation: text-slide-in-left-2 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes text-slide-in-left-2 {
  0% { opacity:0; transform: translateX(-35%); letter-spacing: -9px;}
  100% { opacity:1; transform: translateX(0%); letter-spacing: 0px;}
}

.slider-trip-title{
  color: #fff;
  font-size: 6.05em;
  transform: translateX(-15%);
  font-weight: 400;
  white-space: nowrap;
  line-height: 110%;
  animation: text-slide-in-left 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes text-slide-in-left {
  0% { opacity:0; transform: translateX(-45%); letter-spacing: -2px;}
  100% { opacity:1; transform: translateX(-15%); letter-spacing: 0px;}
}


.slider-caption-container{
  font-size: 1.4em;
  color: #fff;
  line-height: 95%;
  transform: translateY(20%);
  animation: text-slide-in-top 3s;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes text-slide-in-top {
  0% { opacity:0; transform: translateY(-45%); letter-spacing: -1px;}
  100% { opacity:1; transform: translateY(0%); letter-spacing: 0px;}
}

.slider-caption-1{
  font-size: 0.9em;
  font-weight: 300;
}

.slider-caption-2{
  font-size: 1.2em;
}

.slider-badge-container{
  transform: translateY(30%);
}

.slider-badge{
  font-size: 0.75em;
  animation: text-slide-in-left 2s;
  opacity: 0;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slider-countdown-container{
  color: #fff;
  font-size: 1.4em;
  transform: translateY(-60%);
  line-height: 95%;
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 6.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity:0;}
  100% { opacity:1;}
}

.slider-price{
  color: #fff;
  font-size: 3.3em;
  font-weight: 300;
  animation: slide-up 1.5s;
  animation-delay: 5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}

@keyframes slide-up {
  0% { opacity:0; transform: translateY(30%)}
  100% { opacity:1; transform: translateY(0%)}
}

.slider-price::after{
  content: "€";
  font-size: 0.55em;
  transform: translateY(15%)
}

.slider-time-remaining{
  font-size: 1.2em;
  line-height: 90%;
}

.price-caption{
  font-weight: 300;
  transform: translateX(-3%);
}

.slider-search{
  position: absolute;
  z-index: 3000;
  bottom: 10vh;
  left: 25vw;
  width: 50vw;
  height: 15vh;
}


.slider-search .tab-pane{
  background-color: #222 !important;
}

.slider-search .tab-content{
  color: #ffffff;
}

.slider-search .tab-top-pane{
  background-color: #222 !important;
  margin: 0px !important;
  border: none;
  border-radius: 1px;
}

.bg-semi-transparent{
  background-color: rgba(0,0,0,.2);
}

.rt-pre-nav{
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.rt-nav-wrap{
  position: absolute;
  z-index: 3000;
  color: rgba(255,255,255,.9);
  padding: 10px 50px 10px 50px;
}

.rt-nav-dropdown{
  position: fixed;
  left: 10vw;
  width: 80vw;
}

.rt-nav-item{
  display: inline;
  font-size: 1.4em;
  margin-right: 25px;
  padding: 2px 0px !important;
  border-bottom: 3px green;
  color: #fff;
}

.rt-nav-item:hover{
  text-decoration: none !important;
  color: #eee;
}

.rt-nav-brand{
}

.bg-black{
  background-color: rgba(0,0,0,.92);
}

.display-5{
  line-height: 1.9em;
  font-size: 1.8em;
  line-height: 0.85em;
}

.rt-nav-dropdown-item{
  padding: 2px 0px;
}

.rt-nav-hr{
  background-color: rgba(255,255,255,.3);

}

.highlight-1{
  color: #06A8FF;
}

.rt-nav-dropdown-title{
  color: #06A8FF;
  font-size: 1.3em;
  font-weight: 500;
}

.rt-nav-dropdown-title-sub{
  color: #06A8FF;
  font-size: 1.05em;
}


.arrow{
  position: absolute;
  top: 88%;
  right: 5%;
  zoom: 60%;
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}

.image-header-container{
  height: 90vh;
}

.image-header-image{
  background: url(http://www.ihrm2020.org/sites/all/themes/ihrm_theme/images/slide-image-2.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.image-header-image:before{
  content: "";
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.58), transparent);
}

.image-header-text{
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 40px;
}

.image-header-text.h1{
  font-size: 1.3em !important;
}

.tours-group-wrapper::-webkit-scrollbar{
  display: none;
}



.tours-group-wrapper{
  overflow-x: auto;
  scroll-behavior: smooth;
}

.tour-group-image{
  height: 100% !important;
  border-top: 3px solid black;
}

.display-5{
  font-size: 2.7em;
  font-weight: 300;
}

.text-info{
  color: #4c95ff !important;
}

.img-circle{
  width: 20px;
}

.tour-grou-title{
  font-size: 1.3em;
  text-transform: uppercase;
}

.tour-group-price-caption{
  top: 10px;
  right: 0px;
  background-color: #eee;
  padding: 2px 8px;
}

.app-show-more{
  display: block;
}

.bg-jumbotron{
  background-color: #eee;
}

.city-wide-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)), url(./assets/images/city/louvre.jpg) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.pb-7{
  padding-bottom: 90px !important;
}

.tour-group-expires{
  position: absolute;
  width: 100%;
  bottom: 33px;
  color: white;
}

.border-black{
}

.mt-6{
  margin-top: 130px;
}

.mt-7{
  padding-top: 180px;
}

.app-pointer{
  cursor: pointer;
}

.app-poi-hover:hover p{
   color: #424a54;
}

.app-text-overflow-ellipsis{
  text-overflow: fade;
  white-space: nowrap;
}
