.city-info-text{
  position: absolute;
  padding: 2vh 8vw;
}

.city-info-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9));
  opacity: .6;
}
