@import "global";

@media only screen and (max-width: 600px) {
  .header-image{
    height: 80vh !important;
  }
}

.header-image{
  object-fit: cover;
  height: 100vh;
}

.header-title{
  z-index: 1000 !important;
  color: #eeeeee!important;
  bottom: 0px;
}