@import "global";

@media only screen and (max-width: 600px) {
  .header-image{
    height: 80vh !important;
  }
}

.header-image{
  z-index: 0 !important;
  object-fit: cover;
  height: 100vh;
}

.header-title{
  z-index: 1000 !important;
  color: #eeeeee !important;
}

.title-wrapper{
  bottom: 3vh;
}

svg path {
  fill: none;
  stroke-width: 20px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.meter{
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.progress-wrapper{
  z-index: 1000;
}

.progress-path{
  width: 12000px;
}