@import "global";

@media only screen and (max-width: 600px) {
  .header-image{
    height: 80vh !important;
  }
}

.header-image{
  z-index: 0 !important;
  object-fit: cover;
  height: 100vh;
}

.header-title{
  z-index: 1000 !important;
  color: #eeeeee !important;
}

.title-wrapper{
  bottom: 3vh;
}

.progress-wrapper{
  z-index: 1000;
}


.slider-progress-bar{
  position: absolute;
  background-color: red;
  display: inline-block;
  left: 0px;
  min-height: 100%;
}

.insta-slider{
  margin-right: 6px;
  background-color: rgba(0,0,0,.1)
}

.insta-slider-wrapper{
  height: 6px;
}